body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.upload-container {
    position: relative;
}

#uploadButton {
    background-color:#83f587;
    border: none;
    color: rgb(3, 0, 0);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s;
}
#uploadButton:hover {
    background-color: #45a049;
}
#uploadButton:active {
    background-color: #3e8e41;
}

.options {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.options button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}

.options button:hover {
    background-color: #98ef93;
}
